$radius: 9px;
$delay:  .2s;

@font-face {
   font-family: PrimaryFont;
   src: url(https://fonts.gstatic.com/s/notosans/v8/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
}

@font-face {
   font-family: TitleFont;
   src: url(https://fonts.gstatic.com/s/cormorantgaramond/v6/co3bmX5slCNuHLi8bLeY9MK7whWMhyjYqXtK.woff2) format('woff2');
}

body {
   $bg1: #95d37a;
   $bg2: #1E7C4F;
   background: $bg1;
   background: -webkit-linear-gradient(top left, $bg1, $bg2);
   background: -moz-linear-gradient(top left, $bg1, $bg2);
   background: linear-gradient(top left, $bg1, $bg2);
   margin: 0;
   height: 100%;
   display: grid;
   font-family: PrimaryFont, sans-serif;
}


main {
   width: 800px;
   height: 400px;
   position: relative;
}

wrapper {
   margin: auto;
}

header {
   text-align: center;
   color: #F5F5F5;
   margin-bottom: 80px;
   margin-top: -55px;
   font-family: TitleFont, sans-serif;
   font-size: 2.4em;
   font-family: 100;
}

#language-select {
   position: absolute;
   top: 20px;
   right: 30px;
}

.flag {
   width: 1.4em;
   height: auto;
   margin-right: 10px;
   margin-bottom: -2px;
}

.flag.en {
   margin-bottom: 0;
}

#english {
   display: none;
}

.language {
   font-size: 1.4em;

   a {
      color: #F5F5F5;
      text-decoration: none;
   }
}

.language:hover {
   text-decoration: underline;
   cursor: pointer;
}

.tile {
   background-color: white;
   border-radius: $radius;
   -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
   -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
   box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.question {
   width: calc(100% - 60px);
   height: 200px;
   font-size: 30px;
   text-align: center;
   margin: 10px;
   transition: $delay ease all;
   color: black;
   font-family: PrimaryFont, sans-serif;

   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 20px;
}

.expand-question {
   margin: 0;
   width: calc(100% - 40px);
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   color: white;
}

.text {
   width: calc(100% - 60px);
   height: calc(100% - 40px);
   padding: 10px 30px 30px 30px;
   z-index: 10;
   position: absolute;
   top: 0;
   opacity: 0;
   transition: $delay ease opacity;
   z-index: -1;
   font-family: PrimaryFont, sans-serif;
   color: black;

   img {
      width: 200px;
      height: auto;
      display: inline-block;
      margin-right: 0;
      margin-left: 10px;
      margin-bottom: 20px;
      padding-top: 20px;
      float: right;
   }
}

.sources {
   width: calc(100% - 20px);
   position: absolute;
   bottom: 20px;
   color: black;
   font-size: 0.8em;
}

.show-text {
   opacity: 1;
   z-index: 10;
}

#answers {
   width: 100%;
   height: 200px;
   display: grid;
   grid-template-columns: 50% 50%;
}

.answer {
   font-size: 18px;
   text-align: center;
   margin: 10px;
   cursor: pointer;
   transition: $delay ease all;

   max-width: 100%;
   padding-left: 10px;
   padding-right: 10px;

   position: relative;
   z-index: 5;
   font-family: PrimaryFont, sans-serif;

   display: flex;
   justify-content: center;
   flex-direction: column;
   color: black;
}

.answer:hover {
   background-color: #d3d3d3;
}

.expand {
   margin: 0;
   border-radius: 0;
   color: white;
   background-color: #ffffff;
}


.bottom-left-radius {
   border-bottom-left-radius: $radius;
}

.bottom-right-radius {
   border-bottom-right-radius: $radius;
}

.button {
   padding: 12px 55px 12px 30px;
   background-color: #4b7bec;
   border: 0;
   border-radius: $radius * 1.2;
   outline: 0;

   font-size: 18px;
   color: white;
   float: right;
   position: relative;
   z-index: 3;

   margin-right: 10px;
   margin-top: -58px;
   transition: $delay ease transform;

   .arrow {
      width: calc(100% - 25px);
      height: calc(100% - 12px);
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 17px;
      padding-right: 20px;
      transition: .2s ease all;
      cursor: pointer;
      z-index: 4;

      img {
         width: 15px;
         height: auto;
         float: right;
         margin-left: 10px;
         margin-bottom: -4px;
      }
   }

   .arrow:hover {
      width: calc(100% - 15px);
      padding-right: 15px;
   }
}

.slide-down {
   transform: translateY(68px);
   margin-right: 10px;
}

.correct {
   background-color: #26de81;
   margin: 5px;
   cursor: default;
}

.incorrect {
   background-color: #fc5c65;
   cursor: default;
}

.correct:hover {
   background-color: #26de81;
}

.incorrect:hover {
   background-color: #fc5c65;
}

.inactive:hover {
   background-color: white;
   cursor: default;
}
